# Simulated Outpatient Claims Analysis by HCPCS and Revenue Code

## Overview

This task involves simulating outpatient claim-level data, where each claim contains 1â€“5 service lines. Each line includes a HCPCS code, revenue center code, charge amount, number of units, and a service date. The simulated data is reshaped from wide to long format for line-level analysis.

We then focus on two commonly billed HCPCS codes (G0463, J0696), and summarize the data by HCPCS and revenue center code. The summary includes claim count, line count, unique provider count, total charge, min/max/mean charges, and every 10th percentile from p10 to p90. The final output is sorted and saved as an Excel file for further use.

## Simulate OPPS Claims

You wanted to simulate a realistic outpatient (OPPS) claim-level dataset, where:

- Each **row** represents **one claim**
- Each **claim** contains **multiple embedded service lines**
- Each **service line** includes:
  - A **HCPCS** code *(what service was provided)*
  - A **Revenue Center** code *(billing department)*
  - A **line-level charge amount**

This structure mirrors CMS claims files like:

- `OUTPATIENT_BASE` *(claim-level)*
- `OUTPATIENT_REVENUE` *(line-level)*

In [32]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

np.random.seed(42)

# Some reference values
hcpcs_pool = [
    "     ", "G0463", "J0696", "C8900", "A0428", "Q2035",
    "J2778", "J1100", "J1885", "J3489", "Q4101",
    "J0885", "J1569", "J0881", "J2505", "C9399",
    "C1713", "J1459", "Q9981", "Q5101", "J9206"
]
rev_center_pool = [
    "0450", "0456", "0510", "0360", "0300",
    "0270", "0320", "0250", "0636", "0260",
    "0420", "0430", "0440", "0460", "0480",
    "0490", "0520", "0730", "0610", "0910"
]

In [33]:
# Random revenue date generator
def random_date(start_date, end_date):
    delta = end_date - start_date
    return start_date + timedelta(days=random.randint(0, delta.days))

start = datetime(2025, 1, 1)
end = datetime(2025, 2, 1)

In [35]:
# Generate a single claim
def generate_claim(claim_id):
    claim = {
        "claim_id": claim_id,
        "bene_id": np.random.randint(2000, 2200),
        "prov_id": np.random.randint(300, 305)
    }

    n_lines = np.random.randint(1, 6)  # 1 to 5 lines per claim
    
    claim["line_ct"] = n_lines
    
    for i in range(n_lines):
        claim[f"line{i+1}_hcpcs"] = np.random.choice(hcpcs_pool)
        claim[f"line{i+1}_rev"] = np.random.choice(rev_center_pool)
        claim[f"line{i+1}_chrg"] = round(np.random.uniform(50, 1500), 2)
        claim[f"line{i+1}_units"] = np.random.randint(1, 10)
        claim[f"line{i+1}_revdt"] = random_date(start, end).strftime("%Y-%m-%d")

    return claim

In [40]:
# Build DataFrame
n_claims = 1000
#claims_data = [generate_claim(1000 + i) for i in range(n_claims)]

claims_data = []
for i in range(n_claims):
    claim = generate_claim(i)
    claims_data.append(claim)
    
df_claims = pd.DataFrame(claims_data)

In [41]:
df_claims.head(5)

,claim_id,bene_id,prov_id,line_ct,line1_hcpcs,line1_rev,line1_chrg,line1_units,line1_revdt,line2_hcpcs,...,line4_hcpcs,line4_rev,line4_chrg,line4_units,line4_revdt,line5_hcpcs,line5_rev,line5_chrg,line5_units,line5_revdt
0,0,2113,301,3,J3489,0456,517.70,8,2025-01-21,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2012,303,2,J2778,0360,1207.53,1,2025-01-06,J1100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2142,303,2,G0463,0610,725.12,6,2025-01-15,C1713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2187,304,1,J1100,0430,1449.62,7,2025-01-07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2195,304,4,J2505,0510,974.27,4,2025-01-14,C9399,...,A0428,0636,1048.32,1.0,2025-01-11,NaN,NaN,NaN,NaN,NaN

In [42]:
df_claims.to_csv(r"J:/Python/Learning/Data/opps_claims_simulated.csv", index=False)

In [54]:
df_opps_claims = pd.read_csv(r"J:/Python/Learning/Data/opps_claims_simulated.csv")

In [58]:
df_opps_claims.head(5)
df_opps_claims.dtypes

claim_id         int64
bene_id          int64
prov_id          int64
line_ct          int64
line1_hcpcs     object
line1_rev        int64
line1_chrg     float64
line1_units      int64
line1_revdt     object
line2_hcpcs     object
line2_rev      float64
line2_chrg     float64
line2_units    float64
line2_revdt     object
line3_hcpcs     object
line3_rev      float64
line3_chrg     float64
line3_units    float64
line3_revdt     object
line4_hcpcs     object
line4_rev      float64
line4_chrg     float64
line4_units    float64
line4_revdt     object
line5_hcpcs     object
line5_rev      float64
line5_chrg     float64
line5_units    float64
line5_revdt     object
dtype: object

In [61]:
# for study code "G0463" and "J0696", 
# summarize how many claims, lines, prov, and total charge, 
# separate by rvcd. also rvcd should be like "0450" with leading zero.

import pandas as pd

# Reshape wide claim data to long format

line_rows = []

for _, row in df_claims.iterrows():  #df_claims.iterrows() goes through the DataFrame row by row
    n = row["line_ct"]
    for i in range(1, n + 1):
        line_rows.append({
            "claim_id": row["claim_id"],
            "bene_id": row["bene_id"],
            "prov_id": row["prov_id"],
            "line_ct": row["line_ct"],
            "line_no": i,
            "hcpcs": row.get(f"line{i}_hcpcs"),
            "rvcd": row.get(f"line{i}_rev"),
            "chrg": row.get(f"line{i}_chrg"),
            "units": row.get(f"line{i}_units"),
            "revdt": row.get(f"line{i}_revdt")
        })

df_lines = pd.DataFrame(line_rows)

In [64]:
df_lines.head(10)
df_lines.dtypes

claim_id      int64
bene_id       int64
prov_id       int64
line_ct       int64
line_no       int64
hcpcs        object
rvcd         object
chrg        float64
units       float64
revdt        object
dtype: object

In [66]:
df_lines_G0463_J0696 = df_lines[df_lines["hcpcs"].isin(["G0463", "J0696"])].copy()
df_lines_G0463_J0696["rvcd"] = df_lines_G0463_J0696["rvcd"].astype(str).str.zfill(4)

In [67]:
df_lines_G0463_J0696.head(5)

,claim_id,bene_id,prov_id,line_ct,line_no,hcpcs,rvcd,chrg,units,revdt
5,2,2142,303,2,1,G0463,0610,725.12,6.0,2025-01-15
27,11,2163,300,5,2,J0696,0520,1110.89,4.0,2025-01-23
30,11,2163,300,5,5,J0696,0636,597.71,1.0,2025-01-05
65,24,2112,301,4,2,J0696,0730,1285.66,6.0,2025-01-08
70,25,2084,301,3,3,G0463,0910,843.80,1.0,2025-02-01

In [78]:
summary = df_lines_G0463_J0696.groupby(["hcpcs", "rvcd"]).agg(
    claims_count=("claim_id", "nunique"),
    lines_count=("hcpcs", "count"),
    unique_prov_count=("prov_id", "nunique"),
    unique_bene_count=("bene_id", "nunique"),
    total_unit=("units", "sum"),
    total_chrg=("chrg", "sum"),
    min_chrg=("chrg", "min"),
    max_chrg=("chrg", "max"),
    mean_chrg=("chrg", "mean"),
    p10=("chrg", lambda x: x.quantile(0.1)),
    p20=("chrg", lambda x: x.quantile(0.2)),
    p30=("chrg", lambda x: x.quantile(0.3)),
    p40=("chrg", lambda x: x.quantile(0.4)),
    p50=("chrg", lambda x: x.quantile(0.5)),
    p60=("chrg", lambda x: x.quantile(0.6)),
    p70=("chrg", lambda x: x.quantile(0.7)),
    p80=("chrg", lambda x: x.quantile(0.8)),
    p90=("chrg", lambda x: x.quantile(0.9))
).reset_index().sort_values(by=["hcpcs", "total_chrg"], ascending=[True, False])

In [79]:
summary

,hcpcs,rvcd,claims_count,lines_count,unique_prov_count,unique_bene_count,total_unit,total_chrg,min_chrg,max_chrg,mean_chrg,p10,p20,p30,p40,p50,p60,p70,p80,p90
14,G0463,0510,11,11,4,11,44.0,10000.46,137.11,1368.37,909.132727,196.280,546.060,915.720,1002.270,1045.170,1059.620,1184.640,1268.010,1277.210
15,G0463,0520,12,12,4,12,78.0,9125.97,218.23,1466.25,760.497500,224.327,310.486,647.943,694.068,740.185,851.162,1010.681,1083.540,1134.949
17,G0463,0636,10,10,4,10,55.0,6837.92,206.93,1359.01,683.792000,234.083,308.660,484.925,691.574,786.595,793.488,821.751,879.858,954.838
5,G0463,0360,6,6,3,6,23.0,6501.56,510.75,1483.82,1083.593333,652.210,793.670,954.250,1114.830,1198.430,1282.030,1299.245,1316.460,1400.140
16,G0463,0610,10,10,5,10,63.0,5746.91,76.62,1429.52,574.691000,183.018,272.008,353.292,384.702,448.585,595.592,747.143,829.614,1001.507
12,G0463,0480,7,7,3,7,24.0,5595.05,127.76,1317.00,799.292857,260.054,443.134,727.786,823.922,825.800,876.662,977.056,1176.514,1272.600
10,G0463,0456,6,6,3,6,31.0,5581.81,801.99,1079.66,930.301667,808.930,815.870,852.035,888.200,923.965,959.730,998.045,1036.360,1058.010
8,G0463,0440,6,6,4,6,39.0,5354.03,353.24,1483.81,892.338333,447.050,540.860,624.045,707.230,788.545,869.860,1134.445,1399.030,1441.420
6,G0463,0420,6,6,3,6,22.0,5182.48,443.74,1345.71,863.746667,472.295,500.850,576.190,651.530,784.930,918.330,1120.325,1322.320,1334.015
7,G0463,0430,5,5,4,5,36.0,5049.29,531.36,1406.30,1009.858000,714.924,898.488,997.338,1011.474,1025.610,1053.666,1081.722,1157.860,1282.080
13,G0463,0490,7,7,4,7,26.0,4577.71,298.07,1372.73,653.958571,338.792,371.620,388.660,396.588,399.960,417.078,606.428,1140.242,1340.000
19,G0463,0910,6,6,3,6,17.0,4546.24,412.04,1488.65,757.706667,468.045,524.050,550.295,576.540,638.850,701.160,772.480,843.800,1166.225
11,G0463,0460,7,7,4,7,30.0,4327.05,72.57,1202.88,618.150000,165.618,287.528,467.162,596.164,699.850,710.452,749.924,847.136,1008.876
9,G0463,0450,5,5,4,4,27.0,4224.02,124.43,1410.19,844.804000,335.358,546.286,720.854,859.062,997.270,1014.514,1031.758,1114.342,1262.266
0,G0463,0250,6,6,4,6,37.0,3977.15,90.38,1473.05,662.858333,98.575,106.770,270.625,434.480,448.800,463.120,936.235,1409.350,1441.200
1,G0463,0260,6,6,5,6,27.0,3749.14,315.24,1147.92,624.856667,358.240,401.240,467.075,532.910,559.235,585.560,675.915,766.270,957.095
2,G0463,0270,5,5,3,5,18.0,3598.88,337.25,1252.08,719.776000,353.514,369.778,406.126,462.558,518.990,756.454,993.918,1140.536,1196.308
4,G0463,0320,5,5,4,5,26.0,3439.70,278.61,954.09,687.940000,412.650,546.690,625.812,650.016,674.220,772.160,870.100,926.074,940.082
3,G0463,0300,5,5,4,5,35.0,1707.52,60.36,672.70,341.504000,87.952,115.544,185.476,297.748,410.020,420.052,430.084,482.620,577.660
18,G0463,0730,4,4,3,4,25.0,1700.98,143.15,688.96,425.245000,179.348,215.546,251.744,332.060,434.435,536.810,613.450,638.620,663.790
38,J0696,0730,10,10,5,9,45.0,9914.79,409.07,1450.46,991.479000,440.498,488.374,694.777,838.930,1082.445,1291.532,1339.229,1431.600,1439.354
23,J0696,0300,9,9,5,9,26.0,9756.96,216.46,1466.60,1084.106667,632.172,827.726,940.614,1045.674,1155.090,1321.802,1414.612,1454.580,1464.040
27,J0696,0430,10,10,5,10,49.0,9282.35,125.90,1379.12,928.235000,134.873,456.014,883.047,1072.572,1122.930,1189.428,1259.799,1278.036,1308.866
35,J0696,0520,9,9,3,9,48.0,8738.67,174.57,1481.39,970.963333,512.242,678.530,777.682,889.086,1067.270,1102.166,1214.486,1348.806,1453.630
32,J0696,0480,8,8,5,8,43.0,7909.46,423.64,1468.82,988.682500,586.733,698.798,764.313,780.154,927.695,1123.398,1307.806,1378.928,1426.792
24,J0696,0320,8,8,5,7,48.0,7826.91,241.12,1419.13,978.363750,355.815,649.162,1021.283,1062.114,1110.825,1152.462,1168.534,1280.588,1373.371
36,J0696,0610,11,11,5,11,58.0,7650.30,76.45,1475.66,695.481818,125.260,384.870,550.370,647.540,749.300,751.510,880.390,913.270,1095.680
39,J0696,0910,6,6,4,6,19.0,7284.84,879.61,1452.08,1214.140000,1033.935,1188.260,1192.495,1196.730,1210.955,1225.180,1284.080,1342.980,1397.530
21,J0696,0260,7,7,3,7,40.0,6658.76,222.58,1485.99,951.251429,340.204,469.074,620.436,816.282,1034.370,1230.894,1382.408,1443.902,1473.036
34,J0696,0510,7,7,5,7,27.0,6285.87,225.22,1490.77,897.981429,422.230,602.274,748.386,865.574,968.300,982.982,1045.846,1205.074,1351.198
37,J0696,0636,6,6,4,6,30.0,5461.41,484.88,1237.64,910.235000,541.295,597.710,648.330,698.950,958.755,1218.560,1221.115,1223.670,1230.655
22,J0696,0270,6,6,3,6,32.0,5148.64,413.79,1454.60,858.106667,480.510,547.230,575.605,603.980,764.125,924.270,1064.520,1204.770,1329.685
26,J0696,0420,6,6,4,6,23.0,4408.93,84.38,1362.68,734.821667,109.335,134.290,389.830,645.370,764.260,883.150,1091.105,1299.060,1330.870
33,J0696,0490,5,5,3,5,16.0,3849.94,215.50,1368.14,769.988000,371.900,528.300,624.256,659.768,695.280,802.976,910.672,1045.244,1206.692
28,J0696,0440,5,5,3,5,16.0,3141.79,127.77,958.04,628.358000,302.342,476.914,579.262,609.386,639.510,724.614,809.718,873.424,915.732
31,J0696,0460,4,4,3,4,22.0,2900.77,315.08,1100.61,725.192500,379.493,443.906,508.319,614.890,742.540,870.190,969.822,1013.418,1057.014
25,J0696,0360,5,5,3,5,38.0,2859.05,59.42,1487.96,571.810000,195.816,332.212,409.988,429.144,448.300,454.164,460.028,667.960,1077.960
30,J0696,0456,3,3,2,3,19.0,2788.41,442.15,1447.47,929.470000,533.478,624.806,716.134,807.462,898.790,1008.526,1118.262,1227.998,1337.734
29,J0696,0450,5,5,2,5,23.0,1759.36,182.56,545.58,351.872000,210.900,239.240,271.824,308.652,345.480,380.220,414.960,454.980,500.280
20,J0696,0250,3,3,2,3,12.0,1449.25,89.27,860.87,483.083333,171.238,253.206,335.174,417.142,499.110,571.462,643.814,716.166,788.518

In [82]:
summary.to_excel(r"J:\Python\Learning\A2_Simulated_OPPS_Claims_Analysis_by_HCPCS_and_Revenue Code\Summary_hcpcs_rvcd_G0463_J0696.xlsx", index=False)